.tarea-contenedor {
  width: 82%;
  margin: 10px auto;
  min-height: 90%;
  background-color: #1b1b32;
  padding: 12px 0px 12px 12px;
  display: grid;
  grid-template-columns: 82% 12%;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all .5s ease-in-out;
}

/*Colores*/

 .tarea-contenedor:nth-child(3n + 1){
  background: #1b1b32;
}

.tarea-contenedor:nth-child(3n + 2){
  background: #2a2a40;
}
.tarea-contenedor:nth-child(3n + 3){
  background: #3b3b4f;
}



.tarea-texto {
  list-style: none;
  user-select: none;
  word-break: break-all;
  width: 100%;
  text-align: left;
}
.delete-tareas {
  font-size: 18px;
  color: #d0d0d5;
}

.delete-tareas:hover {
  transform: scale(1.5);
  /* transform: rotate(360deg); */
  color: red;
  transition: all .5s ease;
  cursor: pointer;
}


/*cuando la tarea es completada la clase completada se agrega*/
.completada{
    color:red;
    transform: scale(.9);
    text-decoration: line-through;
    transition: all .6s ease-in-out;
}